<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venta de Productos</title>
    <link rel="stylesheet" href="/css/cart.css" />
</head>

<body>
    {{> header}}
    <div class="container">
        <h3 class="header-title">Lista de productos de un carrito:</h3>

        {{#each carrito.products}}
        <div class="product-item">
            <h4 class="product-name">Nombre del producto:
                <span class="product-title">{{this.id.title}}</span>
            </h4>
            <p class="product-description">Descripción: {{this.id.description}}</p>
            <p class="product-price">Precio:
                <span class="price-amount">${{this.id.price}}</span>
            </p>
            <p class="product-quantity">Cantidad: {{this.quantity}}</p>
        </div>
        {{/each}}
    </div>
</body>

</html>