body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 20px;
    /* Agrega padding para que no quede pegado a los bordes */
}

/* Secci칩n principal */
main {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    margin: 20px;
    /* Espacio adicional alrededor del main */
}

/* Encabezado de la secci칩n */
section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ccc;
    text-align: center;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #ff66cc;
    /* Color rosita */
    outline: none;
}

button[type="submit"] {
    background-color: #ff66cc;
    /* Color rosita */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #ff3385;
    /* Color rosita m치s oscuro */
}

/* Estilo del enlace de iniciar sesi칩n */
p {
    text-align: center;
    color: #ccc;
}

a {
    color: #ff66cc;
    /* Color rosita */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}