body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

h1,
h2 {
    color: white;
}

#productsContainer {
    margin: 0;
    padding: 0;
}

#productsContainer .card {
    margin: 10px;
    padding: 10px;
    background-color: #222;
    border: 1px solid #ff6600;
}

#productsContainer .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#productsContainer .card h5,
#productsContainer .card p {
    color: white;
    /* Ensures that text within product cards is white */
}

#paginationContainer {
    border-top: 1px solid #ff6600;
    padding: 10px;
    color: white;
}

.form-container {
    background-color: #222;
    border: 1px solid #ff6600;
    padding: 20px;
    border-radius: 8px;
}

.form-container h2 {
    color: white;
    margin-bottom: 20px;
}

.form-container .form-label {
    color: white;
}

.form-container .form-control {
    background-color: #333;
    border: 1px solid #ff6600;
    color: white;
}

.form-container .form-control::placeholder {
    color: #ccc;
}

.form-container .btn-primary {
    background-color: #ff6600;
    border: none;
}

.form-container .btn-primary:hover {
    background-color: #cc5200;
}

.form-container .btn {
    margin-top: 20px;
}