/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    /* Fondo blanco */
    color: #333;
    /* Texto gris oscuro */
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
div {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #494848;
    /* Fondo gris claro */
    border-radius: 8px;
}

/* Encabezado de la sección */
h3 {
    text-align: center;
    color: #ff007f;
    /* Color rosita */
    margin-bottom: 20px;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ff007f;
    /* Color rosita */
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr {
    background-color: #fff;
    /* Fondo blanco */
    border-bottom: 1px solid #ddd;
    /* Línea de separación */
}

tbody td {
    padding: 10px;
}

tbody tr:hover {
    background-color: #dadada;
    /* Fondo gris claro al pasar el mouse */
}

tbody td img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

/* Estilo de imagen cuando no hay imagen */
tbody td.no-image {
    color: #ccc;
    /* Texto gris claro */
}