h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    background-color: #97d19a;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

.eliminar-button button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.eliminar-button button:hover {
    background-color: #c82333;
}

th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

h2 {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #d2ecd3;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}