PORT = Agregar puerto
URI_MONGO_DB = Agregar la uri de mongo atlas
NAME_DB= Agregar name de la base de datos
SECRET_SESSION=  Agregar

CLIENT_ID = agregar el id del cliente de git hub
CLIENT_SECRET = agregar el client secret de git hub
CALLBACK_URL= agregar la url del callback de git hub

JWT_SECRET_KEY =  Agregar
JWT_EXPIRES_IN=1h